Advanced Modules:
1. Collections counter module
2. default dictionary
3. ordered dictionary
4. named tuple
5. pdb
4. regular expressions

Counter:

In [4]:
from collections import Counter

list1 = [1,2,3,1,1,1,2,2,2,2,3,3]
total_count = Counter(list1)

In [5]:
total_count

Counter({1: 4, 2: 5, 3: 3})

In [8]:
string1 = 'abcaaaaaaaaabcaaaaabc'
total_abc = Counter(string1)

In [9]:
total_abc

Counter({'a': 15, 'b': 3, 'c': 3})

In [10]:
s = 'This is a sample sentence to count occurences of a word in this word of word of sentence'
words = s.split()

In [11]:
c = Counter(words)

In [12]:
c

Counter({'This': 1,
         'is': 1,
         'a': 2,
         'sample': 1,
         'sentence': 2,
         'to': 1,
         'count': 1,
         'occurences': 1,
         'of': 3,
         'word': 3,
         'in': 1,
         'this': 1})

In [ ]:
c.most_common()[1:-3]

In [24]:
result = sum(c.values())

In [25]:
result

18

sum helps in counting the sum of all values present in the counter
#######################################################################################################################

2. default dictionary:

A default dic will never raise a key error even if the key is not present in the dictionary.

In [31]:
#Ex:
from collections import defaultdict
d = defaultdict(object)

In [32]:
d['k1']

In [34]:
for item in d:
    print(item)

k1

In [37]:
d = defaultdict(str)
d[1]

''

In [38]:
d[2] = 'a'

In [39]:
d

defaultdict(str, {1: '', 2: 'a'})

In [40]:
print(d)

defaultdict(<class 'str'>, {1: '', 2: 'a'})

In [47]:
for item,value in d.items():
    print(item)
    print(value)

1

2
a

Note: Default dictionary will take a object as a parameter. Obj should be a callable function or None.
we can also pass lambda functions as parameter while creating defaultdict.

In [48]:
from collections import defaultdict
d1 = defaultdict(lambda: 0)

In [49]:
d1[0]

0

In [50]:
d1[1] = '1'

In [51]:
d1

defaultdict(<function __main__.<lambda>()>, {0: 0, 1: '1'})

if you see in the above example, default dictionary takes the lambda function as argument and it assigns the value returned by the lambda function to the key value that we are trying .
In the example, lambda function returns 0 and we call d1[0] . in d1 key 0 is not present and hence it assigns value 0 to the key 0 since lambda returns 0.

In [58]:
d2 = defaultdict(lambda: '')

In [59]:
d2[1]

''

In [60]:
d2[1] = 'a'

In [61]:
d2

defaultdict(<function __main__.<lambda>()>, {1: 'a'})

In [63]:
d3 = {1:'one', 2:'two'}

In [64]:
d3

{1: 'one', 2: 'two'}

In [65]:
d3[1] = 'ONE'

In [66]:
d3

{1: 'ONE', 2: 'two'}

Named Tuple:

It is like creating a Class. syntax will be like:
  1. varname = namedtuple(name, 'string that will take attributes with spaces in between')
  2. eX: Dog = namedtuple(Dog, 'name colour age')

In [69]:
from collections import namedtuple
Dog = namedtuple('Dog','name colour')

In [71]:
Dog('Bairav','black')

Dog(name='Bairav', colour='black')

In [77]:
d = Dog('bairav','black')

In [78]:
d

Dog(name='bairav', colour='black')

In [79]:
d.colour

'black'

In [80]:
d.name

'bairav'

In [81]:
d[0]

'bairav'

Named tuple is mostly used to have named indexes instead of just numbers.. we can call or access the values of named tuple either by numbers or the name values that you provided while creating a named tuple. In our example, we can acces either using index numbers or names(name,colour, etc).

In [82]:
d[0]

'bairav'

In [85]:
d.name

'bairav'

In [87]:
dog = ('bairav','black')

In [88]:
dog[0]

'bairav'

In [91]:
dog.index('black')

1

The above is an example of normal tuple. we can access the values of the tuple using index integer values but not with the names. Whereas this can be achieved using the namedtuples.

Ordered Dictionary: It is a sub class of dictionary that remember the order in which its contents are added.

In [98]:
#ex1: normal dictionary -> it is a unordered dictionary
d1 = {'k1': 1, 'k2': 2, 'k3': 3}
d1['k4'] = 4
d1['k5'] = 5
d1['k6'] = 6

In [99]:
for k,v in d1.items():
    print(k,v)

k1 1
k2 2
k3 3
k4 4
k5 5
k6 6

In [100]:
d1

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4, 'k5': 5, 'k6': 6}

Here it is actually coming in ordered way. it will not be ordered. The order will change since dictionary is an unordered sequence.

we use ordered dictionary from collections module to overcome this to maintain the order sequences.

In [102]:
from collections import OrderedDict
d5 = OrderedDict()
d5['k1'] = 1
d5['k2'] = 2
d5['k3'] = 3

In [103]:
d5

OrderedDict([('k1', 1), ('k2', 2), ('k3', 3)])

In [104]:
for i,j in d5.items():
    print(i,j)

k1 1
k2 2
k3 3

Important Note:

In [106]:
d1 = {'k1':1, 'k2':2}
d2 = {'k2':2, 'k1':1}

In [110]:
d1 == d2

True

In normal dictionary , it will say d1=d2 even though the order is different since all the key and values match each other. The same will return False if d1 and d2 are created as ordered dictionaries.

This is the major diff between normal and ordered dictionary.