In [1]:
import re
str1 = 'abcabcaaaaaaabcabababaabcaaaabc'
str2 = 'abc'

In [3]:
l1 = re.findall(str2,str1)

In [4]:
l1.count('abc')

5

Repition Syntax:
1. '*' -> followed by zero or more times
2. '+' -> Followed by one or more times
3. '?' -> followed by zero or one time
4. {m} -> where 'm' is number of times the pattern should repeat.
5. {m,n} -> where 'm' is minimun num of times pattern should repeat and 'n' is the maximum.

In [22]:
str1 = 'ssssddddsssdsdsdsdsdsdsdsdsdsdsd'

l1 = re.findall('sd*',str1)
l2 = re.findall('sd+',str1)
l3 = re.findall('sd?',str1)
l4 = re.findall('sd{4}',str1)
l5 = re.findall('sd{1,4}',str1)

In [19]:
l1

['s',
 's',
 's',
 'sdddd',
 's',
 's',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd']

In [20]:
l2

['sdddd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd']

In [21]:
l3

['s',
 's',
 's',
 'sd',
 's',
 's',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd',
 'sd']

In [23]:
l4

['sdddd']

In [24]:
l5

['sdddd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd', 'sd']

Character Sets:
1. [sd] -> either 's' or 'd'
2. s[sd]+ -> s followed by either one or more 's' or 'd'

In [30]:
#ex:
str1 = 'ssdssdsssssssdsdsdsdssdsdsdsssddd'

l6 = re.findall('ss[sd]',str1)

In [31]:
l6

['ssd', 'ssd', 'sss', 'sss', 'ssd', 'sss']

in the above example we are using the regular expression to match ss followed by either s or d .

In [32]:
str2 = 'ssdssdsssssssdsdsdsdssdsdsdsssddd'
l7 = re.findall('ss[s]+',str1)

In [33]:
l7

['sssssss', 'sss']

in the above example, we are using re to match ss followed by either one or more 's'.

In [34]:
l8 = re.findall('dd[s]+',str1)

In [35]:
l8

[]

if match is not present, it will give a empty list

Exclusion: ^ symbol inside the bracket notation.
ex: [^!?;]

In [36]:
string = 'This is string with punctuations ! in between ; them'

In [47]:
l9 = re.findall('[^?!; ]+',string)

In [48]:
l9

['This', 'is', 'string', 'with', 'punctuations', 'in', 'between', 'them']

In [49]:
str(l9)

"['This', 'is', 'string', 'with', 'punctuations', 'in', 'between', 'them']"

In [51]:
' '.join(l9)

'This is string with punctuations in between them'

In [52]:
re.search('is', string)

In [53]:
res = re.search('is', string)

In [54]:
res

Character Ranges:
syntax: 
1. [a-z]+ -> Sequence of lower case letters
2. [A-Z]+ -> Sequence of upper case letters
3. [a-zA-z]+ -> Sequence of lower or upper case letters
4. [A-z][a-z]+ -> Sequence of upper followed by lower case letters

In [1]:
#Ex:
str1 = 'This is a sample string to learn about character ranges'

In [2]:
import re

In [7]:
list1 = re.findall('[a-z]+',str1)

In [8]:
list1

['his',
 'is',
 'a',
 'sample',
 'string',
 'to',
 'learn',
 'about',
 'character',
 'ranges']

in the above ex, the upper case letter is removed and the result is returned to a list.

In [13]:
list2 = re.findall('[A-Z][a-z]+',str1)

In [14]:
list2

['This']

The above is an example where Uppercase shoud be followed by lower case letters.

Other syntax:
1. \d -> matches digit
2. \D -> non-digit
3. \s -> whitespace,tabs,newline
4. \S -> non-whitespace
5. \w -> alphanumeric
6. \W -> non alpha numeric

In [38]:
#ex:

str2 = 'James Bond 007 ?!*$'
list3 = re.findall('[A-Z][a-z]+ [A-Z][a-z]+ \d+[^?!*$ ]',str2)

In [39]:
list3

['James Bond 007']

In [43]:
s1 = str(list3)

In [45]:
' '.join(list3)

'James Bond 007'

In [46]:
list3

['James Bond 007']

In [47]:
s1

"['James Bond 007']"

In [48]:
string = 'abcabcaaaaaaaaaaaabababababcaaabbbbabc'

list4 = re.findall('ab[c]',string)

In [50]:
list4

['abc', 'abc', 'abc', 'abc']